table,td
{
    border: 1px solid black;
}
table
{
    border-collapse: collapse;
    width: 900px;
    text-align: center;
}
td
{
    padding: 20px;
}
tr:nth-child(odd)
{
    background-color: teal;
    color: aliceblue;
}
    tr:nth-child(even)
{
    background-color: greenyellow;
    color: aliceblue;
}
.responsive
{
    width: 700px;
    height: 600px;
    margin: 0 auto;
    border: 10px solid black;
    overflow: scroll;   
}